# Your original requirements
scikit-learn
xgboost
pandas
numpy
psycopg2-binary
scipy
pulp
shap
geopandas
mlflow
python-dotenv
sqlalchemy
geoalchemy2
Faker

# New requirements for the Async App
fastapi
uvicorn[standard]
python-multipart
celery
redis
